.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 75vw;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 400px;
  border-radius: 12px;
  background-image: linear-gradient(#2b2c49, #b5b9ff);
}

@media (max-width: 767px) {
  .bg-container {
    height: 100vh;
    width: 40vw;
  }
  .sub-container {
    height: 60%;
    width: 100%;
  }
}
